.gallery__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__list {
    display: grid;
    gap: 60px;
    border-radius: 20px;
    grid-template-areas:
    "one one one one one one"
    "one one one one one one"
    "two three four four five five"
    "six six four four seven seven"
    "eight eight eight eight nine ten"
    "eight eight eight eight nine eleven";
}

.gallery__item_01 {
    grid-area: one;
}
.gallery__item_02 {
    grid-area: two;
}
.gallery__item_03 {
    grid-area: three;
}
.gallery__item_04 {
    grid-area: four;
}
.gallery__item_05 {
    grid-area: five;
}
.gallery__item_06 {
    grid-area: six;
}
.gallery__item_07 {
    grid-area: seven;
}
.gallery__item_08 {
    grid-area: eight;
}
.gallery__item_09 {
    grid-area: nine;
}
.gallery__item_10 {
    grid-area: ten;
}
.gallery__item_11 {
    grid-area: eleven;
}

.gallery__block {
    display: block;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.gallery__block-text {
    position: absolute;
    font-weight: 700;
    font-size: 70px;
    line-height: 91px;
    color: #fff;
    align-self: center;
    top: 40%;
    left: 112px;
}

.gallery__block-text-small {
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    top: 70%;
    left: 50%;
    color: #fff;
}

.gallery__block-text-time {
    position: absolute;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    top: 75%;
    left: 40%;
    color: #fff;
}

.gallery__block-text-time-small {
    font-size: 32px;
    line-height: 42px;
}

.gallery__block-text-two {
    position: absolute;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
    top: 50%;
    text-align: center;
    width: 190px;
}

.gallery__block-text-three {
    position: absolute;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
    top: 30%;
    left: 10%;
}

.gallery__block-text-number-three,
.gallery__block-text-number-nine {
    display: block;
    position: absolute;
    width: 88px;
    height: 88px;
    background-color: #FFBD13;
    border-radius: 50%;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 60%;
    padding: 20px 2px 20px 2px;
}

.gallery__block-text-four {
    display: block;
    position: absolute;
    max-width: 510px;
    /* min-height: 178px; */
    background-color: #38C0EB;
    font-size: 40px;
    line-height: 48px;
    top: 60%;
    left: 5%; 
    right: 5%;
    border-radius: 20px;
    padding: 25px;
    color: #fff;
}


.gallery__block-text-four-bold {
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    text-transform: uppercase;
}

.gallery__block-text-five {
    position: absolute;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    top: 40%;
    left: 20%;
    color: #fff;
}

.gallery__block-text-number-six,
.gallery__block-text-number-ten {
    display: block;
    position: absolute;
    width: 88px;
    height: 88px;
    background-color: #FFBD13;
    border-radius: 50%;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
    text-align: center;
    top: 10%;
    left: 5%;
    padding: 20px 2px 20px 2px;
}

.gallery__block-text-seven {
    position: absolute;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    top: 65%;
    left: 5%;
    color: #fff;
}

.gallery__block-text-number-seven {
    display: block;
    position: absolute;
    width: 88px;
    height: 88px;
    background-color: #FFBD13;
    border-radius: 50%;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
    text-align: center;
    top: 55%;
    right: 5%;
    padding: 20px 2px 20px 2px;
}

.gallery__block-text-eight {
    display: block;
    position: absolute;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #F91155;
    max-width: 643px;
    border-radius: 20px;
    top: 70%;
    left: 10%;
    background-color: #fff;
    padding: 32px 41px;
}

.gallery__block-text-number-nine {
    top: 80%;
} 

.gallery__block-text-ten {
    position: absolute;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
    top: 60%;
    left: 10%;
}


@media (max-width: 1024px){
    .gallery__list {
        display: grid;
        grid-template-areas: unset;
        /* grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr); */
        gap: 22px 24px;
    }

    .gallery__item_01 {
        grid-column: 1 / 5;
        grid-row: 1 /2;
    }

    .gallery__item_02 {
        grid-column: 1 / 2;
        grid-row: 2 /3;
        }

    .gallery__item_03 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .gallery__item_04 {
        grid-column: 3 / 5;
        grid-row: 2 / 4;
    }

    .gallery__item_05 {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    .gallery__item_06 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .gallery__item_07 {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }

    .gallery__item_08 {
        grid-column: 1 / 5;
        grid-row: 6 / 7;
    }

    .gallery__item_09 {
        grid-column: 3 / 4;
        grid-row: 4 / 6;
    }

    .gallery__item_10 {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }

    .gallery__item_11 {
        grid-column: 4 / 5;
        grid-row: 5 / 6;
    }

    .gallery__block-text {
        font-size: 40px;
        line-height: 52px;
    }

    .gallery__block-text-time {
        font-size: 40px;
        line-height: 52px;
    }

    .gallery__block-text-time-text {
        font-size: 20px;
        line-height: 26px;
    }

    .gallery__block-text-three {
        font-size: 24px;
        line-height: 31px;
    }

    .gallery__block-text-four-bold {
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
    }

    .gallery__block-text-five {
        font-size: 30px;
        line-height: 39px;
    }

    .gallery__block-text-ten {
        font-size: 20px;
        line-height: 26px;
        top: 80%;
    }

    .gallery__block-text-seven {
        font-size: 30px;
        line-height: 39px;
    }

    .gallery__block-text-eight {
        font-size: 30px;
        line-height: 36px;
        padding: 23px 46px;
    }
}

@media (max-width: 768px) {

    .gallery__list {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr repeat(2, 140px) 100px 40px 80px 60px 337px;
        grid-template-areas: unset;
        gap: 20px;
    }

    .gallery__item_01 {
        grid-column: 1 / 5;
        grid-row: 1 /2;
    }

    .gallery__item_02 {
        grid-column: 1 / 2;
        grid-row: 2 /3;
        }

    .gallery__item_03 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .gallery__item_04 {
        grid-column: 3 / 5;
        grid-row: 2 / 5;
    }

    .gallery__item_05 {
        grid-column: 1 / 3;
        grid-row: 4 / 6;
    }

    .gallery__item_06 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .gallery__item_07 {
        grid-column: 1 / 3;
        grid-row: 6 / 8;
    }

    .gallery__item_08 {
        grid-column: 1 / 5;
        grid-row: 8 / 9;
    }

    .gallery__item_09 {
        grid-column: 3 / 4;
        grid-row: 5 / 8;
    }

    .gallery__item_10 {
        grid-column: 4 / 5;
        grid-row: 5 / 7;
    }

    .gallery__item_11 {
        grid-column: 4 / 5;
        grid-row: 7 / 8;
    }

    .gallery__block-text {
        font-size: 30px;
        line-height: 39px;
    }

    .gallery__block-text-small {
        font-size: 12px;
        line-height: 16px;
    }

    .gallery__block-text-time {
        font-size: 30px;
        line-height: 39px;
    }

    .gallery__block-text-time-small {
        font-size: 16px;
        line-height: 21px;
    }

    .gallery__block-text-two {
        font-size: 20px;
        line-height: 22px;
        top: 40%;
        width: 126px;
    }

    .gallery__block-text-three {
        font-size: 16px;
        line-height: 21px;
        top: 10%;
    }

    .gallery__block-text-number-three {
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 21px;
        top: 50%;
        left: 60%;
        padding: 15px 6px;
    }

    .gallery__block-text-number-six {
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 21px;
        top: 10%;
        left: 5%;
        padding: 15px 6px;
    }

    .gallery__block-text-four {
        font-size: 26px;
        line-height: 29px;
        padding: 16px;
        top: 70%
    }


    .gallery__block-text-four-bold {
        font-size: 16px;
        line-height: 18px;
    }

    .gallery__block-text-five {
        font-size: 16px;
        line-height: 19px;
        top: 60%;
        left: 10%;
        width: 140px;
    }

    .gallery__block-text-seven {
        font-size: 16px;
        line-height: 19px;
    }

    .gallery__block-text-number-seven {
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 21px;
        top: 50%;
        right: 10%;
        padding: 15px 6px;
    }

    .gallery__block-text-number-nine {
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 21px;
        top: 70%;
        right: 10%;
        padding: 15px 6px;
    }

    .gallery__block-text-number-ten {
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 21px;
        padding: 15px 6px;
    }

    .gallery__block-text-ten {
        font-size: 16px;
        line-height: 19px;
        top: 60%;
    }

    .gallery__block-text-eight {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 320px) {
    
    .gallery__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 340px repeat(8, 130px);
        grid-template-areas: unset;
    }

    .gallery__item_01 {
        grid-column: 1 / 3;
        grid-row: 1 /2;
    }

    .gallery__item_02 {
        grid-column: 1 / 2;
        grid-row: 2 /3;
        }

    .gallery__item_03 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .gallery__item_04 {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    .gallery__item_05 {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }

    .gallery__item_06 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .gallery__item_07 {
        grid-column: 1 / 3;
        grid-row: 6 / 7;
    }

    .gallery__item_08 {
        grid-column: 1 / 3;
        grid-row: 9 / 10;
    }

    .gallery__item_09 {
        grid-column: 1 / 2;
        grid-row: 7 / 9;
    }

    .gallery__item_10 {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }

    .gallery__item_11 {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }
}
